// hero source:
// https://opengameart.org/users/disthron

// .hero-sprite {
//     background: url('./assets/hero.png') no-repeat;
//     width: $hex-size * 0.65;
//     height: $hex-size * 0.84;
//     background-size: ($hex-size * 7.5);
//     image-rendering: pixelated;
// }

// .hero-stand {
//     background-position: (-$hex-size / 0.68) (-$hex-size / 5);
// }

.hero-stand {
    background: url('./assets/characters/hero/hero-standing [4].png') no-repeat;
    width: 32px;
    height: 36px;
    transform: scale(2);
    image-rendering: pixelated;
}

.hr1 { background-position: 0 0; } 
.hr2 { background-position: -32px 0; }
.hr3 { background-position: (-32px * 2) 0; } 
.hr4 { background-position: (-32px * 3) 0; }
