// potential asset sources
// https://opengameart.org/users/ravenmore
// https://opengameart.org/users/grafxkid
// https://opengameart.org/users/7soul
// https://opengameart.org/content/roguelike-tiles-large-collection
// https://opengameart.org/content/attack-icons-wesnoth
// https://opengameart.org/content/dungeon-crawl-32x32-tiles-supplemental
// https://opengameart.org/content/fantasy-rpg-icons

// Jason-Em classic hero character style:
// https://opengameart.org/users/disthron
// https://opengameart.org/users/dezrasdragons
// https://opengameart.org/users/umz

@import './styles/global-vars.scss';
@import './styles/hex.scss';
@import './styles/hero.scss';

* {
    box-sizing: border-box;
    image-rendering: pixelated;
}

.character {
    overflow: hidden;
    transform: scale(2);
    width: 32px;
    height: 36px;
    margin-left: $hex-size / 4;
    position: relative;
    img { position: absolute; }
}
